# CLASS
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.gui.screens.LanguageSelectScreen$LanguageSelectionList
public net.minecraft.client.renderer.FogRenderer$FogData
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.resources.model.ModelManager$ReloadState
public net.minecraft.client.particle.FireworkParticles$SparkParticle

# METHODS
public net.minecraft.client.renderer.LevelRenderer setSectionDirty(IIIZ)V # setSectionDirty

# FIELDS
public net.minecraft.client.Minecraft fps # fps
public net.minecraft.client.Options fullscreen # fullscreen
public net.minecraft.client.renderer.LightTexture blockLightRedFlicker # blockLightRedFlicker
public net.minecraft.client.renderer.LightTexture updateLightTexture # updateLightTexture
public net.minecraft.client.gui.components.DebugScreenOverlay frameTimeLogger
public com.mojang.blaze3d.platform.Window dirty # dirty
