# CLASS
public net.minecraft.client.gui.screens.options.LanguageSelectScreen$LanguageSelectionList
public net.minecraft.client.resources.model.ModelManager$ReloadState
public net.minecraft.client.particle.FireworkParticles$SparkParticle

# METHODS
public net.minecraft.client.multiplayer.ClientLevel getSkyFlashTime()I # getSkyFlashTime

# FIELDS
public net.minecraft.client.Minecraft fps # fps
public net.minecraft.client.Options fullscreen # fullscreen
public net.minecraft.client.gui.components.DebugScreenOverlay frameTimeLogger
public com.mojang.blaze3d.platform.Window dirty # dirty

# GRAPHICS ENGINE HOTSWAP
public com.mojang.blaze3d.opengl.GlStateManager$BlendState
public com.mojang.blaze3d.opengl.GlStateManager$BooleanState
public com.mojang.blaze3d.opengl.GlStateManager$BooleanState enabled
public com.mojang.blaze3d.opengl.GlStateManager$ColorLogicState
public com.mojang.blaze3d.opengl.GlStateManager$CullState
public com.mojang.blaze3d.opengl.GlStateManager$DepthState
public com.mojang.blaze3d.opengl.GlStateManager$PolygonOffsetState
public com.mojang.blaze3d.opengl.GlStateManager$ScissorState
public com.mojang.blaze3d.opengl.GlStateManager$StencilState
public com.mojang.blaze3d.opengl.GlStateManager$TextureState
public com.mojang.blaze3d.opengl.GlStateManager BLEND
public com.mojang.blaze3d.opengl.GlStateManager DEPTH
public com.mojang.blaze3d.opengl.GlStateManager CULL
public com.mojang.blaze3d.opengl.GlStateManager POLY_OFFSET
public com.mojang.blaze3d.opengl.GlStateManager COLOR_LOGIC
public com.mojang.blaze3d.opengl.GlStateManager STENCIL
public com.mojang.blaze3d.opengl.GlStateManager SCISSOR
public com.mojang.blaze3d.opengl.GlStateManager TEXTURES
public com.mojang.blaze3d.opengl.GlStateManager COLOR_MASK
public com.mojang.blaze3d.opengl.GlStateManager activeTexture
public com.mojang.blaze3d.opengl.GlStateManager readFbo
public com.mojang.blaze3d.opengl.GlStateManager writeFbo
public net.minecraft.client.Options preferredGraphicsBackendFromStartup
public net.minecraft.client.Options exclusiveFullscreenFromStartup
public com.mojang.blaze3d.platform.Window exclusiveFullscreen
public net.minecraft.client.Minecraft createTitle()Ljava/lang/String;
public net.minecraft.client.Minecraft loadCriticalShaders()V
public-f net.minecraft.client.Minecraft window
public-f net.minecraft.client.Minecraft windowSurface
public-f net.minecraft.client.Minecraft textInputManager
public-f net.minecraft.client.Minecraft gameRenderer
public-f net.minecraft.client.Minecraft timerQuery
public net.minecraft.client.Minecraft windowSurfaceNeedsReconfiguring
public net.minecraft.client.Minecraft surfaceIsInvalid
public net.minecraft.client.Minecraft monitorManager
public net.minecraft.client.Minecraft vanillaPackResources
public net.minecraft.client.Minecraft reloadStateTracker
public net.minecraft.client.renderer.GameRenderer globalSettingsUniform
public-f net.minecraft.client.renderer.GameRenderer mainCamera
public-f net.minecraft.client.renderer.ShaderManager postChainProjectionMatrixBuffer
public-f net.minecraft.client.renderer.LevelRenderer gameRenderer
public-f net.minecraft.client.renderer.LevelRenderer renderBuffers
public-f net.minecraft.client.renderer.LevelRenderer featureRenderDispatcher
public-f net.minecraft.client.renderer.LevelRenderer levelRenderState
public-f net.minecraft.client.renderer.LevelRenderer optionsRenderState
public-f net.minecraft.client.renderer.LevelRenderer worldBorderRenderer
public-f net.minecraft.client.renderer.LevelRenderer weatherEffectRenderer
public net.minecraft.client.renderer.LevelRenderer entityOutlineTarget
public net.minecraft.client.renderer.LevelRenderer skyRenderer
public net.minecraft.client.renderer.LevelRenderer chunkLayerSampler
public-f net.minecraft.client.renderer.CloudRenderer ubo
public net.minecraft.client.renderer.CloudRenderer utb
public-f net.minecraft.client.renderer.extract.LevelExtractor levelRenderState
public-f net.minecraft.client.gui.Gui guiRenderState
public net.minecraft.client.renderer.texture.TextureManager byPath
public net.minecraft.client.renderer.texture.AbstractTexture texture
public net.minecraft.client.renderer.texture.AbstractTexture textureView
public net.minecraft.client.renderer.texture.AbstractTexture sampler
public net.minecraft.client.renderer.texture.AbstractTexture releaseTextures()V
public net.minecraft.client.renderer.texture.TextureAtlas releaseTextures()V
