# CLASS
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.gui.screens.LanguageSelectScreen$LanguageSelectionList
public net.minecraft.client.renderer.FogRenderer$FogData
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.resources.model.ModelManager$ReloadState
public net.minecraft.client.particle.FireworkParticles$SparkParticle

# METHODS
public net.minecraft.client.renderer.LevelRenderer m_109501_(IIIZ)V # setSectionDirty

# FIELDS
public net.minecraft.client.Minecraft f_91021_ # fps
public net.minecraft.client.Options f_92052_ # fullscreen
public net.minecraft.client.renderer.LightTexture f_109874_ # blockLightRedFlicker
public net.minecraft.client.renderer.LightTexture f_109873_ # updateLightTexture
public com.mojang.blaze3d.platform.Window f_85367_ # dirty
